<div class="about-Container">
    <p>
        Welcome! This is a place for discussions and news about your favorite Korean drama series (current and past), the actors and actresses, drama reviews, official soundtracks, award shows, and more. Be sure to check out our sidebar for helpful info and resources!.
    </p>

</div>