<section id="background-info">
    <div class="Container">
      
        <h1>Welcome to kdrama community</h1>

    </div>
</section>
<!--Lagnguges that i know-->

<Section id="experience">
    <div class="Container">
            <h1>TOP KDRAMA</h1>
        </a>
    </div>
</Section>
<!--
<section id="Experience-boxes">
    -->
<div class="Container">
    
<div class="grid-container">
  <div class="grid-item"> <div class="text-wrapper">
        <img src="images/shewaspretty.jpg" alt="she was pretty">
        <p>As a young girl, Hye Jin was impossibly cute and lived comfortable life with her wealthy parents. Since
            entering her teens, both her looks and fortunes have drastically changed. She currently lives rent-free with
            a friend and is a part-time clerk at a convenience store. Out-of-the-blue, Sung Joon, her childhood friend,
            contacts her and suggests they meet. He is unaware that Hye Jin recently spotted him and knows how fit and
            handsome he had become. Not wanting to disappoint him, she insists her pretty best friend go in her place.
            What could go wrong? </p>
    </div></div>
  <div class="grid-item">  <div class="text-wrapper">
        <img src="images/crush-landing.jpg" alt="Crush Landing On You">
        <p>It tells the story of two star crossed lovers, a South Korean heiress and a North Korean elite who also
            happens to be an army officer. One day, while paragliding, Yoon Se Ri has an accident caused by strong
            winds, leading her to crash land in North Korea, where she meets Ri Jung Hyuk, a North Korean army officer,
            who agrees to help her return to South Korea. Over time, they fall in love, despite the divide and dispute
            between their respective countries.</p>
        </div></div>
  <div class="grid-item"><div class="text-wrapper">
            <img src="images/heirs-poster.jpg" alt="the heirs">
            <p>Kim Tan is the heir to Empire Group who has been sent to study abroad in the U.S. In reality it's a form of exile, as his elder half-brother back home schemes to take over the family business. While in the States, Kim Tan meets Cha Eun Sang, who arrived from Korea in search of her older sister. He feels himself falling for her, never realizing that she's the daughter of his family's housekeeper. When his fiancée Rachel Yoo arrives to bring him back to Korea, his heart is torn between love and duty.</p>
        </div></div>  
  <div class="grid-item"> <div class = "text-wrapper">
            <img src="images/Cinderala and four knights.jpg" alt="Cinderala and four knights">
            <p>Eun Ha Won is in her third year of high school with dreams of becoming a teacher. Unattached from her father, step-mother, and step-sister, and poorly treated by them, Ha Won still manages to maintain her bright personality and strong set of morals, working various part-time jobs to pay for her upcoming university tuition fees and keeping her eyes firmly glued to her goals.
            Meanwhile, in another part of the city are three spoiled cousins, Ji Woon, Hyun Min, and Seo Woo, living together in a mansion called Sky House. With their wildly different personalities - Ji Woon a tough guy, Hyun Min a playboy, and Seo Woo a musician - they all deeply dislike each other and prefer to be as far away from each other as possible.
            One day, their grandfather orders his 3 grandsons to attend his 5th wedding ceremony. Hyun Min doesn't want to go, but ultimately ends up hiring Ha Won to be his date for 3 hours so he can upstage his grandfather. His plans don't completely pan out, however, when the grandfather witnesses Ha Won's no-nonsense attitude towards Hyun Min and decides to hire her as a live-in butler and drill sergeant of sorts at Sky House. What follows is a lot of shenanigans, love triangles, drama, and plenty of sass.</p>
        </div></div>
  <div class="grid-item"><div class = "text-wrapper">
            <img src="images/Fight_For_My_Way_Poster.jpg" alt="Fight For My Way">
            <p>Can you still go after your dreams without the right background?
                Ko Dong Man has always dreamed of becoming famous as a taekwondo athlete but now works as a contract employee in a mundane job. His bickering longtime friend, Choi Ae Ra, aspires to become a television anchor but works instead at the information desk of a department store.
                Their friends, Kim Joo Man and Baek Seol Hee have been dating for six years but face a new threat to their relationship.Can the four friends achieve their individual dreams despite having “third-rate” qualifications?</p>
        </div></div>
  <div class="grid-item">  
    
    <div class = "text-wrapper">
            <img src="images/strong-woman-do-bong-soon.jpg" alt="strong woman do bong soon">
            <p>Do Bong Soon is a petite, unemployed woman who is honest and kind. She appears little and sweet on the outside, but she is in fact very, very strong. In her family, for generations the women have been gifted Herculean strength to use for the greater good. If abused, however, their power will be taken away. Whilst standing up for herself after gang members bully her, she finds herself approached by Ahn Min Hyuk, the handsome and somewhat childish CEO of Ainsoft, a gaming company. Ahn Min Hyuk, who holds a great distrust towards the police, witnessed the whole exchange of Bong Soon's superhuman strength, and now wants to employ her as a bodyguard after being threatened by an unknown enemy. Min Hyuk falls in love with super-strong Bong Soon at first sight, but there's a catch. Bong Soon has eyes for someone else; police officer and childhood friend, In Guk Doo, whom she has known since high school. When chaos ensues after a series of kidnappings in Do Bong Soon's hometown of Dobong-dong, Dobong-gu, Bong Soon must decide whether to use her strength and stand up to evil, or play it safe and keep her powers hidden from the world. Combined with the love triangle she faces between In Guk Doo and Ahn Min Hyuk, as well as having to keep Min Hyuk safe, Bong Soon's life is thrown into turmoil. Can she use her strength for the greater good, or will it prove in the end to be too much?</p>
        </div>
</div>  
  <div class="grid-item"><div class = "text-wrapper">
            <img src="images/My-Love-From-Another-Star-P.jpg" alt="My-Love-From-Another-Star-">
            <p>
            Do Min Joon is an alien who landed on Earth 400 years ago during the Joseon Dynasty period. He possesses a near perfect appearance and enhanced physical abilities involving his vision, hearing and speed. Later, he discovers that he has three months left on Earth. And that is when he meets Cheon Song Yi, the biggest Hallyu star in Korea
                </p>
        </div>
</div>
  <div class="grid-item"><div class = "text-wrapper">
            <img src="images/Boys-over-flowers.jpg" alt="Boys-over-flowers">
            <p>
            Geum Jan Di comes from a poor family who owns a dry-cleaning shop. One day, she visits Shinhwa High School, a prestigious school for the wealthy, and saves a student trying to commit suicide because of bullying. For her heroic act, Jan Di receives a swimming scholarship and starts attending the school.
            In school, she meets the notorious F4, the most popular and powerful group of boys at the school, consisting of Gu Jun Pyo; the leader of F4 and heir to the Shinhwa Group, Yoon Ji Hu; the grandson of a former president of Korea, So Yi Jung; a skilled potter who comes from a family that owns the country's biggest art museum, and Song Woo Bin; whose family runs the country's largest construction company.Her life at school starts out miserable, as she doesn't fit in with other students because of her status, and later becomes worse when she is labeled as the new bullying target of the F4.
                </p>
        </div></div>
  <div class="grid-item"><div class = "text-wrapper">
            <img src="images/Scarletheartryeoposter.jpg" alt="Scarletheartryeoposter">
            <p>When a total eclipse of the sun takes place, Go Ha Jin is transported back in time to the start of the Goryeo Dynasty of Korea during King Taejo's rule. She wakes up in the body of 16-year-old Hae Soo and finds herself in the house of 8th Prince Wang Wook, who is married to her cousin. She soon befriends several of the princes and meets the ostracized 4th Prince, Wang So. Although she knows she should not get involved in palace intrigues over the succession to the throne, she inadvertently becomes a pawn in the struggle, as several of the Princes fall in love with her. 
                </p>
        </div></div>  
</div>
    <!--
<div class = "text-wrapper">
            <img src="images/Scarletheartryeoposter.jpg" alt="Scarletheartryeoposter">
            <p>When a total eclipse of the sun takes place, Go Ha Jin is transported back in time to the start of the Goryeo Dynasty of Korea during King Taejo's rule. She wakes up in the body of 16-year-old Hae Soo and finds herself in the house of 8th Prince Wang Wook, who is married to her cousin. She soon befriends several of the princes and meets the ostracized 4th Prince, Wang So. Although she knows she should not get involved in palace intrigues over the succession to the throne, she inadvertently becomes a pawn in the struggle, as several of the Princes fall in love with her. 
                </p>
        </div>

  Do Min Joon is an alien who landed on Earth 400 years ago during the Joseon Dynasty period. He possesses a near perfect appearance and enhanced physical abilities involving his vision, hearing and speed. Later, he discovers that he has three months left on Earth. And that is when he meets Cheon Song Yi, the biggest Hallyu star in Korea
    
    
 
--->
<!---
<section id="Experience-boxes">
        <br>
        <div class="box">
            <h4>C++ programming</h4>
            <img src="/images/C++.jpg" alt="" width=40%>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eum facilis eligendi architecto assumenda illo. Vero dignissimos maxime, quaerat explicabo harum blanditiis cum excepturi aliquid neque, iste totam sapiente? Iste.
            Explicabo quo modi deserunt dolore voluptatibus, dolorum voluptates. Tempora deleniti odio distinctio iure recusandae aliquid corrupti alias maxime illum ipsa nulla adipisci eius dignissimos libero, molestias, cupiditate officiis sint quo?
            Rerum tempore doloribus fugit magni cupiditate quia magnam iste perferendis modi beatae tempora, aspernatur error accusamus incidunt sequi voluptatem. Ea doloremque harum perspiciatis soluta facilis repudiandae fugiat deserunt, laudantium eius?
            Omnis eius impedit aliquid doloremque voluptate quos voluptatem molestiae sint, nisi, ea voluptates mollitia sit minus cum dolorum exercitationem corrupti nam cumque ad? Ab placeat, quam animi perferendis nobis ea.</p>
        </div>
        <br>
        <div class="box">
            <h4>HTML AND CSS</h4>
            <img src="/images/html-css.jpg" alt="" width=40%>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eum facilis eligendi architecto assumenda illo. Vero dignissimos maxime, quaerat explicabo harum blanditiis cum excepturi aliquid neque, iste totam sapiente? Iste.
            Explicabo quo modi deserunt dolore voluptatibus, dolorum voluptates. Tempora deleniti odio distinctio iure recusandae aliquid corrupti alias maxime illum ipsa nulla adipisci eius dignissimos libero, molestias, cupiditate officiis sint quo?
            Rerum tempore doloribus fugit magni cupiditate quia magnam iste perferendis modi beatae tempora, aspernatur error accusamus incidunt sequi voluptatem. Ea doloremque harum perspiciatis soluta facilis repudiandae fugiat deserunt, laudantium eius?
            Omnis eius impedit aliquid doloremque voluptate quos voluptatem molestiae sint, nisi, ea voluptates mollitia sit minus cum dolorum exercitationem corrupti nam cumque ad? Ab placeat, quam animi perferendis nobis ea.</p>
        </div>
      
    </div>
    
</section> 
     -->
    </div>