<section id="background-info">
    <div class="Container">
        <h1>welcome to kdrama community</h1>
        
    </div>
</section>
<!--Lagnguges that i know-->

<Section id="experience">
    <div class="Container">
        <a href="#">
            <h1>TOP KDRAMA</h1>
        </a>
    </div>
</Section>
<!--
<section id="Experience-boxes">
    -->
    <div class="Container">
        <div class = "text-wrapper">
            <img src="images/shewaspretty.jpg" alt="she was pretty">
            <p>As a young girl, Hye Jin was impossibly cute and lived comfortable life with her wealthy parents. 
               Since entering her teens, both her looks and fortunes have drastically changed. 
               She currently lives rent-free with a friend and is a part-time clerk at a convenience store. 
               Out-of-the-blue, Sung Joon, her childhood friend,  contacts her and suggests they meet. 
               He is unaware that Hye Jin recently spotted him and knows how fit and handsome he had become.  
               Not wanting to disappoint him, she insists her pretty best friend go in her place.  What could go wrong? 
               After landing a full-time job, Hye Jin is surprised to find out that Sung Joon is her boss. To add insult to injury, 
               he is treating her with nothing but disdain and contempt. This is not the friend she fondly remembers, so  she goes about hiding her true identity from him.  </p>
        </div>
        <br>
             <div class = "text-wrapper">
            <img src="images/Kill-Me-Heal-Me.jpg" alt="kill me heal me">
            <p>A traumatic childhood experience leaves Cha Do Hyeon, suffering from memory loss and dissociation.
                    The latter has resulted in the creation of seven distinct personalities.
                    Wanting to regain control over his life, he asks Oh Ri Jin, a first-year psychiatric resident,
                    to help him, but she eventually falls in love with one of his personalities.
                    Ri Jin’s twin brother, Oh Ri On, a famous mystery novelist, investigates Do Hyeon and his family.</p>
        </div>
        <div class = "text-wrapper">
            <img src="images/Kill-Me-Heal-Me.jpg" alt="kill me heal me">
            <p>A traumatic childhood experience leaves Cha Do Hyeon, suffering from memory loss and dissociation.
                    The latter has resulted in the creation of seven distinct personalities.
                    Wanting to regain control over his life, he asks Oh Ri Jin, a first-year psychiatric resident,
                    to help him, but she eventually falls in love with one of his personalities.
                    Ri Jin’s twin brother, Oh Ri On, a famous mystery novelist, investigates Do Hyeon and his family.</p>
        </div>

<div class = "text-wrapper">
            <img src="images/shewaspretty.jpg" alt="she was pretty">
            <p>A traumatic childhood experience leaves Cha Do Hyeon, suffering from memory loss and dissociation.
                    The latter has resulted in the creation of seven distinct personalities.
                    Wanting to regain control over his life, he asks Oh Ri Jin, a first-year psychiatric resident,
                    to help him, but she eventually falls in love with one of his personalities.
                    Ri Jin’s twin brother, Oh Ri On, a famous mystery novelist, investigates Do Hyeon and his family.</p>
        </div>


        <!--
        <div class="box">
            <h4>Kill me heal me</h4>
            <img src="/images/Kill-Me-Heal-Me.jpg">
                <p> A traumatic childhood experience leaves Cha Do Hyeon, suffering from memory loss and dissociation.
                    The latter has resulted in the creation of seven distinct personalities.
                    Wanting to regain control over his life, he asks Oh Ri Jin, a first-year psychiatric resident,
                    to help him, but she eventually falls in love with one of his personalities.
                    Ri Jin’s twin brother, Oh Ri On, a famous mystery novelist, investigates Do Hyeon and his family.
                </p>
            </div>
        </div>

        <br>
        <div class="box">
            <h4>C++ programming</h4>
            <img src="/images/C++.jpg" alt="" width=40%>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eum facilis eligendi architecto assumenda illo. Vero dignissimos maxime, quaerat explicabo harum blanditiis cum excepturi aliquid neque, iste totam sapiente? Iste.
            Explicabo quo modi deserunt dolore voluptatibus, dolorum voluptates. Tempora deleniti odio distinctio iure recusandae aliquid corrupti alias maxime illum ipsa nulla adipisci eius dignissimos libero, molestias, cupiditate officiis sint quo?
            Rerum tempore doloribus fugit magni cupiditate quia magnam iste perferendis modi beatae tempora, aspernatur error accusamus incidunt sequi voluptatem. Ea doloremque harum perspiciatis soluta facilis repudiandae fugiat deserunt, laudantium eius?
            Omnis eius impedit aliquid doloremque voluptate quos voluptatem molestiae sint, nisi, ea voluptates mollitia sit minus cum dolorum exercitationem corrupti nam cumque ad? Ab placeat, quam animi perferendis nobis ea.</p>
        </div>
        <br>
        <div class="box">
            <h4>HTML AND CSS</h4>
            <img src="/images/html-css.jpg" alt="" width=40%>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eum facilis eligendi architecto assumenda illo. Vero dignissimos maxime, quaerat explicabo harum blanditiis cum excepturi aliquid neque, iste totam sapiente? Iste.
            Explicabo quo modi deserunt dolore voluptatibus, dolorum voluptates. Tempora deleniti odio distinctio iure recusandae aliquid corrupti alias maxime illum ipsa nulla adipisci eius dignissimos libero, molestias, cupiditate officiis sint quo?
            Rerum tempore doloribus fugit magni cupiditate quia magnam iste perferendis modi beatae tempora, aspernatur error accusamus incidunt sequi voluptatem. Ea doloremque harum perspiciatis soluta facilis repudiandae fugiat deserunt, laudantium eius?
            Omnis eius impedit aliquid doloremque voluptate quos voluptatem molestiae sint, nisi, ea voluptates mollitia sit minus cum dolorum exercitationem corrupti nam cumque ad? Ab placeat, quam animi perferendis nobis ea.</p>
        </div>
      
    </div>
    
</section> 
     -->
