<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="/public/css/layoutt.css">
  <title>kdrama</title>


</head>

<body>

  <body>
    <!--My name as logo on left side and navigation menue on the right-->
    <header>
      <div class="Container">
        <div id="logo">
          <a href="/home">
            <h1>KdramaUnited</h1>
          </a>
        </div>
        <nav>
          <ul>
            <li><a href="/home">Top Drama</a></li>
            <li><a href="/dramas">Dramas</a></li>  
            <li> <a href="/contact">Contact</a></li>
          {{#if isLoggedIn}}
               <li><a href="/accounts">Accounts</a></li>
               <li><a href="/accounts/:{{this.username}}">My Account</a></li>
               <li><a href="/dramas/drama-create">Create Drama</a></li>   
            {{/if}}

          </ul>
        </nav>
      </div>
    </header>
    <main>
      {{{body}}}
    </main>

    <footer>
      {{#unless isLoggedIn}}<a href="/accounts/login"> Sing In </a>|<a href="/accounts/accounts-sign-up"> Sing Up
      </a>{{/unless}}
      {{#if isLoggedIn}}
       <form method="POST" action="/accounts/logout">
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <a href="/logout">Sign Out</a>       
       </form>
   {{/if}}
      <p>By Bahja Faqid and Jenny Jansson</p>

    </footer>
  </body>

</html>